<a href="https://colab.research.google.com/github/Bhavanikotte/PersonalFinanceTrackerApp/blob/master/Major.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import gc

# Libraries for Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt
import altair as alt
from scipy.stats import skew
sns.set(style="white", font_scale=1.5)
sns.set(rc={"axes.facecolor":"#FFFAF0", "figure.facecolor":"#FFFAF0"})
sns.set_context("poster", font_scale=.7)
import matplotlib.ticker as ticker

In [2]:
import warnings
warnings.filterwarnings('ignore')

# Libraries for Statistical Analysis
from scipy import stats
from scipy.stats import chi2, chi2_contingency

# Setting Display Options
pd.set_option("display.max.columns", None)

# Machine Learning Algorithms
from sklearn.utils.class_weight import compute_class_weight
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import mutual_info_regression
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import joblib

In [4]:
!pip install keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.4.7-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: keras in /usr/local/lib/python3.12/dist-packages (from keras-tuner) (3.10.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from keras-tuner) (25.0)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from keras-tuner) (2.32.4)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl.metadata (221 bytes)
Requirement already satisfied: absl-py in /usr/local/lib/python3.12/dist-packages (from keras->keras-tuner) (1.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from keras->keras-tuner) (2.0.2)
Requirement already satisfied: rich in /usr/local/lib/python3.12/dist-packages (from keras->keras-tuner) (13.9.4)
Requirement already satisfied: namex in /usr/local/lib/python3.12/dist-packages (from keras->keras-tuner) (0.1.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.12/dist-packages (from keras->keras-tuner) (3.15.1)
Requirement already satisfied: optree in /usr/local/lib/python3.12/dist-packages (from keras->keras-tuner) (0.17.0)
Requirement already satisfied: ml-dtypes in /usr/local/lib/python3.12/dist-packages (from keras->keras-tuner) (0.5.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->keras-tuner) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->keras-tuner) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->keras-tuner) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->keras-tuner) (2025.10.5)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from optree->keras->keras-tuner) (4.15.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras->keras-tuner) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.12/dist-packages (from rich->keras->keras-tuner) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.12/dist-packages (from markdown-it-py>=2.2.0->rich->keras->keras-tuner) (0.1.2)
Downloading keras_tuner-1.4.7-py3-none-any.whl (129 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.1/129.1 kB 3.9 MB/s eta 0:00:00
Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.4.7 kt-legacy-1.0.5

In [5]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization, Dropout,LeakyReLU
from tensorflow.keras.initializers import HeNormal
from tensorflow.keras.regularizers import l1,l2
from tensorflow.keras.optimizers import SGD
import keras_tuner
import keras

In [6]:
from sklearn.metrics import (
    accuracy_score,
    recall_score,
    precision_score,
    f1_score,silhouette_score,
    confusion_matrix,
    classification_report,
    roc_auc_score,
    roc_curve
)

In [9]:
from google.colab import files
uploaded = files.upload()

Saving archive (2).zip to archive (2).zip

In [10]:
import zipfile
import os

for file in uploaded.keys():
    with zipfile.ZipFile(file, 'r') as zip_ref:
        zip_ref.extractall('/content')

os.listdir('/content')

['.config',
 'UNSW_NB15_training-set.csv',
 'NUSW-NB15_features.csv',
 'UNSW_NB15_testing-set.csv',
 'UNSW-NB15_4.csv',
 'UNSW-NB15_LIST_EVENTS.csv',
 'UNSW-NB15_2.csv',
 'archive (2).zip',
 'UNSW-NB15_3.csv',
 'UNSW-NB15_1.csv',
 'sample_data']

In [11]:
import pandas as pd

# read the CSV files from /content
testing_set   = pd.read_csv('/content/UNSW_NB15_testing-set.csv')
training_set  = pd.read_csv('/content/UNSW_NB15_training-set.csv')
LIST_EVENTS   = pd.read_csv('/content/UNSW-NB15_LIST_EVENTS.csv')
NB15_1        = pd.read_csv('/content/UNSW-NB15_1.csv')
NB15_2        = pd.read_csv('/content/UNSW-NB15_2.csv')
NB15_3        = pd.read_csv('/content/UNSW-NB15_3.csv')
NB15_4        = pd.read_csv('/content/UNSW-NB15_4.csv')

# this file needs a special encoding
NB15_features = pd.read_csv('/content/NUSW-NB15_features.csv', encoding='cp1252')

# check one file to confirm it loaded correctly
print(training_set.head())

   id       dur proto service state  spkts  dpkts  sbytes  dbytes  \
0   1  0.000011   udp       -   INT      2      0     496       0
1   2  0.000008   udp       -   INT      2      0    1762       0
2   3  0.000005   udp       -   INT      2      0    1068       0
3   4  0.000006   udp       -   INT      2      0     900       0
4   5  0.000010   udp       -   INT      2      0    2126       0

          rate  sttl  dttl        sload  dload  sloss  dloss  sinpkt  dinpkt  \
0   90909.0902   254     0  180363632.0    0.0      0      0   0.011     0.0
1  125000.0003   254     0  881000000.0    0.0      0      0   0.008     0.0
2  200000.0051   254     0  854400000.0    0.0      0      0   0.005     0.0
3  166666.6608   254     0  600000000.0    0.0      0      0   0.006     0.0
4  100000.0025   254     0  850400000.0    0.0      0      0   0.010     0.0

   sjit  djit  swin  stcpb  dtcpb  dwin  tcprtt  synack  ackdat  smean  dmean  \
0   0.0   0.0     0      0      0     0     0.0     0.0     0.0    248      0
1   0.0   0.0     0      0      0     0     0.0     0.0     0.0    881      0
2   0.0   0.0     0      0      0     0     0.0     0.0     0.0    534      0
3   0.0   0.0     0      0      0     0     0.0     0.0     0.0    450      0
4   0.0   0.0     0      0      0     0     0.0     0.0     0.0   1063      0

   trans_depth  response_body_len  ct_srv_src  ct_state_ttl  ct_dst_ltm  \
0            0                  0           2             2           1
1            0                  0           2             2           1
2            0                  0           3             2           1
3            0                  0           3             2           2
4            0                  0           3             2           2

   ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  is_ftp_login  \
0                 1                 1               2             0
1                 1                 1               2             0
2                 1                 1               3             0
3                 2                 1               3             0
4                 2                 1               3             0

   ct_ftp_cmd  ct_flw_http_mthd  ct_src_ltm  ct_srv_dst  is_sm_ips_ports  \
0           0                 0           1           2                0
1           0                 0           1           2                0
2           0                 0           1           3                0
3           0                 0           2           3                0
4           0                 0           2           3                0

  attack_cat  label
0     Normal      0
1     Normal      0
2     Normal      0
3     Normal      0
4     Normal      0

In [12]:
testing_set.shape

(175341, 45)

In [13]:
training_set.shape

(82332, 45)

In [14]:
LIST_EVENTS.head()

  Attack category Attack subcategory  Number of events
0          normal                NaN           2218761
1        Fuzzers                 FTP               558
2        Fuzzers                HTTP              1497
3        Fuzzers                 RIP              3550
4        Fuzzers                 SMB              5245

In [15]:
LIST_EVENTS.tail()

    Attack category Attack subcategory  Number of events
203       Shellcode           Decoders                18
204       Shellcode        Multiple OS                10
205       Shellcode            Solaris                12
206           Worms                                  174
207             NaN             Total            2540044

In [17]:
unique_attacks = LIST_EVENTS['Attack category'].dropna().unique()
print(unique_attacks)

['normal' ' Fuzzers ' ' Fuzzers' ' Reconnaissance ' ' Shellcode '
 'Analysis' 'Backdoors' 'DoS' 'Exploits' 'Generic' 'Reconnaissance'
 'Shellcode' 'Worms']

In [18]:
NB15_1.head()

,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,29,0,0.1,dns,500473.9375,621800.9375,2,2.1,0.2,0.3,0.4,0.5,66,82,0.6,0.7,0.8,0.9,1421927414,1421927414.1,0.017,0.013,0.10,0.11,0.12,0.13,0.14,0.15,0.16,0.17,3,7,1,3.1,1.1,1.2,1.3,Unnamed: 47,0.18
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,29,0,0,-,87676.08594,50480.17188,4,4,0,0,0,0,132,76,0,0,9.891010,10.682733,1421927414,1421927414,7.005,7.564333,0.0,0.0,0.0,0,0,0,0,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,29,0,0,dns,521894.53130,636282.37500,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.017,0.013000,0.0,0.0,0.0,0,0,0,0,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,29,0,0,dns,436724.56250,542597.18750,2,2,0,0,0,0,66,82,0,0,0.000000,0.000000,1421927414,1421927414,0.043,0.014000,0.0,0.0,0.0,0,0,0,0,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,29,0,0,dns,499572.25000,609067.56250,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.005,0.003000,0.0,0.0,0.0,0,0,0,0,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,29,0,0,-,43503.23438,23896.14258,4,4,0,0,0,0,142,78,0,0,29.682221,34.370340,1421927414,1421927414,21.003,24.315000,0.0,0.0,0.0,0,0,0,0,0,2,4,2,3,1,1,2,NaN,0

In [19]:
NB15_2.head()

,59.166.0.0,6055,149.171.126.5,54145,tcp,FIN,0.072974,4238,60788,31,29,7,30,-,458245.4375,6571546.5,72,72.1,255,255.1,1003293149,1003585034,59,844,0,0.1,62.04531,61.899776,1421955842,1421955842.1,1.02269,0.997042,0.002317,0.002173,0.000144,0.2,0.3,0.4,0.5,0.6,13,13.1,6,7.1,1,1.1,2,Unnamed: 47,0.7
0,59.166.0.0,7832,149.171.126.3,5607,tcp,FIN,0.144951,5174,91072,31,29,7,39,-,2.824127e+05,4.971776e+06,90,92,255,255,3152877672,1047439924,57,990,0,0,98.166675,97.062913,1421955842,1421955842,1.624562,1.587374,0.000665,0.000497,0.000168,0,0,0.0,0.0,0,13,13,6,7,1,1,2,NaN,0
1,59.166.0.8,11397,149.171.126.6,21,tcp,FIN,0.116107,2934,3742,31,29,11,15,ftp,1.982998e+05,2.530769e+05,52,54,255,255,3208685093,3215278370,56,69,0,0,194.564141,4.796288,1421955842,1421955842,2.314660,2.149906,0.002342,0.002151,0.000191,0,0,0.0,1.0,1,1,2,7,5,1,1,4,NaN,0
2,59.166.0.0,3804,149.171.126.3,53,udp,CON,0.000986,146,178,31,29,0,0,-,5.922921e+05,7.221095e+05,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421955842,1421955842,0.011000,0.009000,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,13,13,6,7,1,1,2,NaN,0
3,59.166.0.8,14339,149.171.126.6,14724,tcp,FIN,0.038480,8928,320,31,29,4,1,-,1.723701e+06,5.550936e+04,14,6,255,255,1063301791,1113098865,638,53,0,0,245.278645,11.454426,1421955842,1421955842,2.960000,6.054000,0.008268,0.008075,0.000193,0,0,0.0,0.0,0,8,20,7,5,1,1,4,NaN,0
4,59.166.0.8,39094,149.171.126.3,53,udp,CON,0.001026,130,162,31,29,0,0,-,5.068226e+05,6.315789e+05,2,2,0,0,0,0,65,81,0,0,0.000000,0.000000,1421955842,1421955842,0.010000,0.002000,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,8,13,6,5,1,1,1,NaN,0

In [20]:
NB15_3.head()

,59.166.0.1,18247,149.171.126.4,7662,tcp,FIN,0.119596,4550,68342,31,29,7,33,-,300478.2813,4514398.5,78,80,255,255.1,1818376620,1818657356,58,854,0,0.1,87.137592,85.643619,1424231129,1424231129.1,1.549156,1.50719,0.000644,0.000521,0.000123,0.2,0.3,Unnamed: 37,Unnamed: 38,,6,2,2.1,5,1,1.1,2.2,Unnamed: 47,0.4
0,59.166.0.3,54771,149.171.126.2,27709,tcp,FIN,0.650574,8928,320,31,29,4,1,ftp-data,1.019530e+05,3.283254e+03,14,6,255,255,4075447467,3777413974,638,53,0,0,4045.664812,162.187656,1424231129,1424231129,50.044153,129.990797,0.000616,0.000495,0.000121,0,0,NaN,NaN,,3,5,2,4,1,1,4,NaN,0
1,59.166.0.8,13289,149.171.126.9,5190,tcp,FIN,0.007980,2158,2464,31,29,6,6,-,2.074185e+06,2.367920e+06,24,24,255,255,1638377249,1638673555,90,103,0,0,23.013883,0.487342,1424231129,1424231129,0.347545,0.322913,0.000668,0.000544,0.000124,0,0,NaN,NaN,,3,5,1,1,1,1,3,NaN,0
2,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,0,0,0,dns,2.112000e+08,0.000000e+00,2,0,0,0,0,0,132,0,0,0,0.000000,0.000000,1424231129,1424231129,0.005000,0.000000,0.000000,0.000000,0.000000,0,0,NaN,NaN,,19,19,19,19,19,19,19,NaN,0
3,149.171.126.18,1043,175.45.176.3,53,udp,INT,0.000005,264,0,60,0,0,0,dns,2.112000e+08,0.000000e+00,2,0,0,0,0,0,132,0,0,0,0.000000,0.000000,1424231129,1424231129,0.005000,0.000000,0.000000,0.000000,0.000000,0,0,NaN,NaN,,19,19,19,19,19,19,19,NaN,0
4,59.166.0.3,10275,149.171.126.0,25,tcp,FIN,0.486578,37462,3380,31,29,18,8,smtp,6.040882e+05,5.425646e+04,52,42,255,255,1518379503,3670369209,720,80,0,0,768.061343,24.935787,1424231128,1424231129,9.533961,11.645000,0.016012,0.009132,0.006880,0,0,NaN,NaN,,3,2,3,4,2,1,2,NaN,0

In [21]:
NB15_4.head()

,59.166.0.9,7045,149.171.126.7,25,tcp,FIN,0.201886,37552,3380,31,29,18,8,smtp,1459437.5,130766.8672,52,42,255,255.1,1422136554,3572668484,722,80,0,0.1,456.043567,15.530109,1424250009,1424250009.1,3.943843,4.912488,0.00059,0.000473,0.000117,0.2,0.3,Unnamed: 37,Unnamed: 38,,2,2.1,7,4,1,1.1,3,Unnamed: 47,0.4
0,59.166.0.9,9685,149.171.126.2,80,tcp,FIN,5.864748,19410,1087890,31,29,2,370,http,2.640454e+04,1.481983e+06,364,746,255,255,389619597,394688654,53,1458,1,0,1031.366423,690.219581,1424250003,1424250009,16.155447,7.871279,0.000771,0.000638,0.000133,0,0,1.0,NaN,,3,1,4,4,1,1,1,NaN,0
1,59.166.0.2,1421,149.171.126.4,53,udp,CON,0.001391,146,178,31,29,0,0,dns,4.198418e+05,5.118620e+05,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1424250009,1424250009,0.009000,0.002000,0.000000,0.000000,0.000000,0,0,NaN,NaN,,3,5,2,7,1,1,4,NaN,0
2,59.166.0.2,21553,149.171.126.2,25,tcp,FIN,0.053948,37812,3380,31,29,19,8,smtp,5.503374e+06,4.893601e+05,54,42,255,255,4047523379,1903327524,700,80,0,0,65.909688,3.155258,1424250009,1424250009,1.011547,1.302561,0.000674,0.000540,0.000134,0,0,NaN,NaN,,1,1,4,7,1,1,3,NaN,0
3,59.166.0.8,45212,149.171.126.4,53,udp,CON,0.000953,146,178,31,29,0,0,dns,6.128017e+05,7.471144e+05,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1424250009,1424250009,0.009000,0.004000,0.000000,0.000000,0.000000,0,0,NaN,NaN,,2,5,2,1,1,1,2,NaN,0
4,59.166.0.0,59922,149.171.126.8,6881,tcp,FIN,8.633186,25056,1094788,31,29,38,390,-,2.316642e+04,1.013311e+06,446,858,255,255,497111133,526810925,56,1276,0,0,7751.702640,5572.343447,1424250000,1424250009,19.443407,10.084887,0.000654,0.000516,0.000138,0,0,NaN,NaN,,9,7,2,3,2,1,6,NaN,0

In [22]:
NB15_features

,No.,Name,Type,Description
0,1,srcip,nominal,Source IP address
1,2,sport,integer,Source port number
2,3,dstip,nominal,Destination IP address
3,4,dsport,integer,Destination port number
4,5,proto,nominal,Transaction protocol
5,6,state,nominal,Indicates to the state and its dependent proto...
6,7,dur,Float,Record total duration
7,8,sbytes,Integer,Source to destination transaction bytes
8,9,dbytes,Integer,Destination to source transaction bytes
9,10,sttl,Integer,Source to destination time to live value
10,11,dttl,Integer,Destination to source time to live value
11,12,sloss,Integer,Source packets retransmitted or dropped
12,13,dloss,Integer,Destination packets retransmitted or dropped
13,14,service,nominal,"http, ftp, smtp, ssh, dns, ftp-data ,irc and ..."
14,15,Sload,Float,Source bits per second
15,16,Dload,Float,Destination bits per second
16,17,Spkts,integer,Source to destination packet count
17,18,Dpkts,integer,Destination to source packet count
18,19,swin,integer,Source TCP window advertisement value
19,20,dwin,integer,Destination TCP window advertisement value
20,21,stcpb,integer,Source TCP base sequence number
21,22,dtcpb,integer,Destination TCP base sequence number
22,23,smeansz,integer,Mean of the ?ow packet size transmitted by the...
23,24,dmeansz,integer,Mean of the ?ow packet size transmitted by the...
24,25,trans_depth,integer,Represents the pipelined depth into the connec...
25,26,res_bdy_len,integer,Actual uncompressed content size of the data t...
26,27,Sjit,Float,Source jitter (mSec)
27,28,Djit,Float,Destination jitter (mSec)
28,29,Stime,Timestamp,record start time
29,30,Ltime,Timestamp,record last time
30,31,Sintpkt,Float,Source interpacket arrival time (mSec)
31,32,Dintpkt,Float,Destination interpacket arrival time (mSec)
32,33,tcprtt,Float,"TCP connection setup round-trip time, the sum ..."
33,34,synack,Float,"TCP connection setup time, the time between th..."
34,35,ackdat,Float,"TCP connection setup time, the time between th..."
35,36,is_sm_ips_ports,Binary,If source (1) and destination (3)IP addresses ...
36,37,ct_state_ttl,Integer,No. for each state (6) according to specific r...
37,38,ct_flw_http_mthd,Integer,No. of flows that has methods such as Get and ...
38,39,is_ftp_login,Binary,If the ftp session is accessed by user and pas...
39,40,ct_ftp_cmd,integer,No of flows that has a command in ftp session.
40,41,ct_srv_src,integer,No. of connections that contain the same servi...
41,42,ct_srv_dst,integer,No. of connections that contain the same servi...
42,43,ct_dst_ltm,integer,No. of connections of the same destination add...
43,44,ct_src_ ltm,integer,No. of connections of the same source address ...
44,45,ct_src_dport_ltm,integer,No of connections of the same source address (...
45,46,ct_dst_sport_ltm,integer,No of connections of the same destination addr...
46,47,ct_dst_src_ltm,integer,No of connections of the same source (1) and t...
47,48,attack_cat,nominal,The name of each attack category. In this data...
48,49,Label,binary,0 for normal and 1 for attack records

In [23]:
NB15_1.columns = NB15_features['Name']
NB15_2.columns = NB15_features['Name']
NB15_3.columns = NB15_features['Name']
NB15_4.columns = NB15_features['Name']

In [24]:
train_df = pd.concat([NB15_1, NB15_2, NB15_3, NB15_4], ignore_index=True)

In [25]:
train_df

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,service,Sload,Dload,Spkts,Dpkts,swin,dwin,stcpb,dtcpb,smeansz,dmeansz,trans_depth,res_bdy_len,Sjit,Djit,Stime,Ltime,Sintpkt,Dintpkt,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,29,0,0,-,87676.085940,50480.171880,4,4,0,0,0,0,132,76,0,0,9.891010,10.682733,1421927414,1421927414,7.005000,7.564333,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,2,4,2,3,1,1,2,NaN,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,29,0,0,dns,521894.531300,636282.375000,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.017000,0.013000,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,12,8,1,2,2,1,1,NaN,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,29,0,0,dns,436724.562500,542597.187500,2,2,0,0,0,0,66,82,0,0,0.000000,0.000000,1421927414,1421927414,0.043000,0.014000,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,6,9,1,1,1,1,1,NaN,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,29,0,0,dns,499572.250000,609067.562500,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.005000,0.003000,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,7,9,1,1,1,1,1,NaN,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,29,0,0,-,43503.234380,23896.142580,4,4,0,0,0,0,142,78,0,0,29.682221,34.370340,1421927414,1421927414,21.003000,24.315000,0.000000,0.000000,0.000000,0,0,0.0,0.0,0,2,4,2,3,1,1,2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540038,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,29,1,2,ftp-data,24465.671880,146610.765600,6,8,255,255,4035116044,222196311,53,229,0,0,1221.136547,30.096029,1424262068,1424262069,17.394400,12.405143,0.000608,0.000468,0.000140,0,0,NaN,NaN,,1,2,3,3,1,1,3,NaN,0
2540039,59.166.0.7,20848,149.171.126.4,21,tcp,CON,0.365058,456,346,31,29,2,2,ftp,8743.816406,6333.240234,8,6,255,255,1529727621,185369967,57,58,0,0,3961.093354,129.038367,1424262068,1424262069,51.976999,72.915602,0.000609,0.000477,0.000132,0,0,NaN,2.0,2,2,2,2,2,2,2,2,NaN,0
2540040,59.166.0.3,21511,149.171.126.9,21,tcp,CON,6.335154,1802,2088,31,29,7,9,ftp,2204.839844,2549.582764,32,30,255,255,497208793,889904111,56,70,0,0,13233.728560,379.052750,1424262062,1424262069,204.359814,214.372375,0.000617,0.000485,0.000132,0,0,NaN,2.0,2,2,2,4,2,2,2,2,NaN,0
2540041,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,29,2,57,http,12496.513670,598375.062500,58,116,255,255,1289728069,3436097151,60,1432,1,79745,2868.893137,1951.035944,1424262067,1424262069,38.609700,19.133826,0.000680,0.000541,0.000139,0,0,2.0,NaN,,1,1,2,4,2,2,2,NaN,0
2540042,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,252,5,6,pop3,4470.913574,5259.898438,12,12,255,255,3026824982,3748412468,48,56,0,0,3903.523582,95.650531,1424262068,1424262069,79.714089,80.827180,0.139446,0.053884,0.085562,0,3,NaN,NaN,,1,1,2,4,2,2,2,Exploits,1

In [26]:
print(train_df['Label'].value_counts())

Label
0    2218760
1     321283
Name: count, dtype: int64

In [27]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2540043 entries, 0 to 2540042
Data columns (total 49 columns):
 #   Column            Dtype
---  ------            -----
 0   srcip             object
 1   sport             object
 2   dstip             object
 3   dsport            object
 4   proto             object
 5   state             object
 6   dur               float64
 7   sbytes            int64
 8   dbytes            int64
 9   sttl              int64
 10  dttl              int64
 11  sloss             int64
 12  dloss             int64
 13  service           object
 14  Sload             float64
 15  Dload             float64
 16  Spkts             int64
 17  Dpkts             int64
 18  swin              int64
 19  dwin              int64
 20  stcpb             int64
 21  dtcpb             int64
 22  smeansz           int64
 23  dmeansz           int64
 24  trans_depth       int64
 25  res_bdy_len       int64
 26  Sjit              float64
 27  Djit              float64
 28  Stime             int64
 29  Ltime             int64
 30  Sintpkt           float64
 31  Dintpkt           float64
 32  tcprtt            float64
 33  synack            float64
 34  ackdat            float64
 35  is_sm_ips_ports   int64
 36  ct_state_ttl      int64
 37  ct_flw_http_mthd  float64
 38  is_ftp_login      float64
 39  ct_ftp_cmd        object
 40  ct_srv_src        int64
 41  ct_srv_dst        int64
 42  ct_dst_ltm        int64
 43  ct_src_ ltm       int64
 44  ct_src_dport_ltm  int64
 45  ct_dst_sport_ltm  int64
 46  ct_dst_src_ltm    int64
 47  attack_cat        object
 48  Label             int64
dtypes: float64(12), int64(28), object(9)
memory usage: 949.6+ MB

In [28]:
column_data_types = train_df.dtypes

# Count the numerical and categorical columns
numerical_count = 0
categorical_count = 0

for column_name, data_type in column_data_types.items():
    if np.issubdtype(data_type, np.number):
        numerical_count += 1
    else:
        categorical_count += 1

# Print the counts
print(f"There are {numerical_count} Numerical Columns in dataset")
print(f"There are {categorical_count} Categorical Columns in dataset")

There are 40 Numerical Columns in dataset
There are 9 Categorical Columns in dataset

In [29]:
print("Duplicates in train_df: ",train_df.duplicated().sum())

Duplicates in train_df:  480626

In [30]:
train_df = train_df.drop_duplicates()

In [31]:
print(train_df['Label'].value_counts())

Label
0    1959771
1      99646
Name: count, dtype: int64

In [32]:
print("Duplicates in train_df: ",train_df.duplicated().sum())

Duplicates in train_df:  0

Missing values

In [33]:
missing_data = train_df.isnull().sum().to_frame().rename(columns={0:"Total No. of Missing Values"})
missing_data["% of Missing Values"] = round((missing_data["Total No. of Missing Values"]/len(train_df))*100,2)
missing_data

                  Total No. of Missing Values  % of Missing Values
Name
srcip                                       0                 0.00
sport                                       0                 0.00
dstip                                       0                 0.00
dsport                                      0                 0.00
proto                                       0                 0.00
state                                       0                 0.00
dur                                         0                 0.00
sbytes                                      0                 0.00
dbytes                                      0                 0.00
sttl                                        0                 0.00
dttl                                        0                 0.00
sloss                                       0                 0.00
dloss                                       0                 0.00
service                                     0                 0.00
Sload                                       0                 0.00
Dload                                       0                 0.00
Spkts                                       0                 0.00
Dpkts                                       0                 0.00
swin                                        0                 0.00
dwin                                        0                 0.00
stcpb                                       0                 0.00
dtcpb                                       0                 0.00
smeansz                                     0                 0.00
dmeansz                                     0                 0.00
trans_depth                                 0                 0.00
res_bdy_len                                 0                 0.00
Sjit                                        0                 0.00
Djit                                        0                 0.00
Stime                                       0                 0.00
Ltime                                       0                 0.00
Sintpkt                                     0                 0.00
Dintpkt                                     0                 0.00
tcprtt                                      0                 0.00
synack                                      0                 0.00
ackdat                                      0                 0.00
is_sm_ips_ports                             0                 0.00
ct_state_ttl                                0                 0.00
ct_flw_http_mthd                       933603                45.33
is_ftp_login                          1014165                49.25
ct_ftp_cmd                                  0                 0.00
ct_srv_src                                  0                 0.00
ct_srv_dst                                  0                 0.00
ct_dst_ltm                                  0                 0.00
ct_src_ ltm                                 0                 0.00
ct_src_dport_ltm                            0                 0.00
ct_dst_sport_ltm                            0                 0.00
ct_dst_src_ltm                              0                 0.00
attack_cat                            1959771                95.16
Label                                       0                 0.00

handling null values

In [34]:
train_df['attack_cat'].fillna('normal',inplace = True)
train_df['attack_cat'] = train_df['attack_cat'].apply(lambda x: x.strip().lower())

# missing values imply that there were no flows with HTTP methods in certain instances so we will replace the NAN with 0
train_df['ct_flw_http_mthd'].fillna(0, inplace=True)

# is_ftp_login is of type binary that mean it takes 1(user has loged in) or 0 (or not) so the best approch is to replace nan with 0
train_df['is_ftp_login'].fillna(0, inplace=True)

descriptive analysis on numerical attributes

In [35]:
round(train_df.describe().T,2)

,count,mean,std,min,25%,50%,75%,max
Name,,,,,,,,
dur,2059417.0,6.500000e-01,1.104000e+01,0.000000e+00,0.000000e+00,3.000000e-02,3.300000e-01,8.786640e+03
sbytes,2059417.0,5.098050e+03,6.213721e+04,0.000000e+00,4.240000e+02,1.684000e+03,3.728000e+03,1.435577e+07
dbytes,2059417.0,4.192614e+04,1.698574e+05,0.000000e+00,3.040000e+02,3.080000e+03,1.991800e+04,1.465753e+07
sttl,2059417.0,4.360000e+01,5.052000e+01,0.000000e+00,3.100000e+01,3.100000e+01,3.100000e+01,2.550000e+02
dttl,2059417.0,3.650000e+01,4.370000e+01,0.000000e+00,2.900000e+01,2.900000e+01,2.900000e+01,2.540000e+02
sloss,2059417.0,6.110000e+00,2.458000e+01,0.000000e+00,0.000000e+00,4.000000e+00,7.000000e+00,5.319000e+03
dloss,2059417.0,1.893000e+01,5.953000e+01,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01,5.507000e+03
Sload,2059417.0,9.066831e+06,7.363605e+07,0.000000e+00,8.077723e+04,5.407408e+05,1.095758e+06,5.988000e+09
Dload,2059417.0,2.954290e+06,4.480340e+06,0.000000e+00,7.632187e+04,6.691802e+05,3.835414e+06,1.287619e+08
Spkts,2059417.0,3.865000e+01,8.047000e+01,0.000000e+00,4.000000e+00,1.600000e+01,4.800000e+01,1.064600e+04
Dpkts,2059417.0,4.978000e+01,1.272100e+02,0.000000e+00,4.000000e+00,1.800000e+01,4.600000e+01,1.101800e+04
swin,2059417.0,1.793900e+02,1.164600e+02,0.000000e+00,0.000000e+00,2.550000e+02,2.550000e+02,2.550000e+02
dwin,2059417.0,1.790200e+02,1.166300e+02,0.000000e+00,0.000000e+00,2.550000e+02,2.550000e+02,2.550000e+02
stcpb,2059417.0,1.508638e+09,1.430378e+09,0.000000e+00,0.000000e+00,1.237095e+09,2.768091e+09,4.294959e+09
dtcpb,2059417.0,1.508389e+09,1.430223e+09,0.000000e+00,0.000000e+00,1.236756e+09,2.766857e+09,4.294954e+09
smeansz,2059417.0,1.300100e+02,1.646400e+02,0.000000e+00,6.200000e+01,7.300000e+01,1.280000e+02,1.504000e+03
dmeansz,2059417.0,3.301900e+02,3.397200e+02,0.000000e+00,8.100000e+01,1.170000e+02,5.650000e+02,1.500000e+03
trans_depth,2059417.0,1.000000e-01,3.800000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.720000e+02
res_bdy_len,2059417.0,5.157850e+03,5.236600e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.558056e+06
Sjit,2059417.0,1.646340e+03,1.356075e+04,0.000000e+00,0.000000e+00,3.141000e+01,7.466000e+02,1.483831e+06
Djit,2059417.0,8.413000e+02,3.249860e+03,0.000000e+00,3.200000e-01,1.882000e+01,8.204000e+01,7.812211e+05
Stime,2059417.0,1.423103e+09,1.145960e+06,1.421927e+09,1.421949e+09,1.424220e+09,1.424242e+09,1.424262e+09
Ltime,2059417.0,1.423103e+09,1.145960e+06,1.421927e+09,1.421949e+09,1.424220e+09,1.424242e+09,1.424262e+09
Sintpkt,2059417.0,1.600200e+02,2.493890e+03,0.000000e+00,2.700000e-01,7.500000e-01,1.199000e+01,8.437150e+04
Dintpkt,2059417.0,6.712000e+01,1.280250e+03,0.000000e+00,2.300000e-01,7.000000e-01,1.051000e+01,5.948532e+04
tcprtt,2059417.0,1.000000e-02,5.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.004000e+01
synack,2059417.0,0.000000e+00,3.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.530000e+00
ackdat,2059417.0,0.000000e+00,3.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.510000e+00
is_sm_ips_ports,2059417.0,0.000000e+00,4.000000e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
ct_state_ttl,2059417.0,1.000000e-01,4.500000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00
ct_flw_http_mthd,2059417.0,1.200000e-01,5.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.600000e+01
is_ftp_login,2059417.0,2.000000e-02,1.400000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
ct_srv_src,2059417.0,5.410000e+00,5.190000e+00,1.000000e+00,2.000000e+00,4.000000e+00,7.000000e+00,6.700000e+01
ct_srv_dst,2059417.0,5.160000e+00,5.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,7.000000e+00,6.700000e+01
ct_dst_ltm,2059417.0,3.670000e+00,3.260000e+00,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,6.700000e+01
ct_src_ ltm,2059417.0,4.160000e+00,3.600000e+00,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00,6.700000e+01
ct_src_dport_ltm,2059417.0,1.620000e+00,2.660000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.700000e+01
ct_dst_sport_ltm,2059417.0,1.250000e+00,1.750000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,6.000000e+01
ct_dst_src_ltm,2059417.0,2.650000e+00,4.140000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,6.700000e+01
Label,2059417.0,5.000000e-02,2.100000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00

descriptive analysis on categorical attributes

In [36]:
train_df.describe(include="O").T

              count  unique            top     freq
Name
srcip       2059417      43     59.166.0.4   192686
sport       2059417  100343              0    20653
dstip       2059417      47  149.171.126.3   192515
dsport      2059417  128297             53   233820
proto       2059417     135            tcp  1448858
state       2059417      16            FIN  1433507
service     2059417      13              -  1169180
ct_ftp_cmd  2059417      13                 1014165
attack_cat  2059417      11         normal  1959771

unique attributes checking

In [37]:
cols = train_df.columns

for column in cols:
    print('Unique values of ',column , 'with dtype',train_df[column].dtype, 'have total values',train_df[column].nunique(),'->',  train_df[column].unique())
    print('-'*100)

Unique values of  srcip with dtype object have total values 43 -> ['59.166.0.0' '59.166.0.6' '59.166.0.5' '59.166.0.3' '10.40.182.3'
 '59.166.0.7' '10.40.170.2' '59.166.0.1' '59.166.0.2' '59.166.0.4'
 '175.45.176.3' '175.45.176.2' '175.45.176.0' '59.166.0.8' '59.166.0.9'
 '175.45.176.1' '10.40.182.1' '10.40.85.1' '192.168.241.243' '10.40.85.30'
 '149.171.126.16' '149.171.126.2' '149.171.126.11' '149.171.126.4'
 '149.171.126.5' '149.171.126.17' '149.171.126.19' '149.171.126.9'
 '149.171.126.8' '149.171.126.7' '149.171.126.15' '149.171.126.6'
 '149.171.126.0' '149.171.126.1' '149.171.126.3' '149.171.126.13'
 '149.171.126.12' '149.171.126.10' '149.171.126.18' '127.0.0.1'
 '149.171.126.14' '10.40.85.10' '10.40.182.6']
----------------------------------------------------------------------------------------------------
Unique values of  sport with dtype object have total values 100343 -> [33661 1464 3593 ... 533 933 706]
----------------------------------------------------------------------------------------------------
Unique values of  dstip with dtype object have total values 47 -> ['149.171.126.9' '149.171.126.7' '149.171.126.5' '149.171.126.0'
 '149.171.126.4' '10.40.182.3' '149.171.126.6' '10.40.170.2'
 '149.171.126.18' '149.171.126.16' '149.171.126.8' '149.171.126.2'
 '149.171.126.1' '149.171.126.10' '149.171.126.3' '149.171.126.15'
 '149.171.126.14' '149.171.126.12' '149.171.126.13' '149.171.126.11'
 '224.0.0.5' '149.171.126.17' '149.171.126.19' '192.168.241.243'
 '10.40.85.1' '10.40.85.30' '175.45.176.3' '224.0.0.1' '59.166.0.4'
 '175.45.176.0' '59.166.0.9' '59.166.0.6' '175.45.176.2' '59.166.0.2'
 '59.166.0.5' '59.166.0.7' '59.166.0.1' '59.166.0.8' '59.166.0.0'
 '175.45.176.1' '59.166.0.3' '32.50.32.66' '10.40.198.10' '127.0.0.1'
 '192.168.241.50' '10.40.182.255' '10.40.182.6']
----------------------------------------------------------------------------------------------------
Unique values of  dsport with dtype object have total values 128297 -> ['1024' '53' '111' ... '41921' '24470' '30870']
----------------------------------------------------------------------------------------------------
Unique values of  proto with dtype object have total values 135 -> ['udp' 'arp' 'tcp' 'ospf' 'icmp' 'igmp' 'sctp' 'udt' 'sep' 'sun-nd'
 'swipe' 'mobile' 'pim' 'rtp' 'ipnip' 'ip' 'ggp' 'st2' 'egp' 'cbt' 'emcon'
 'nvp' 'igp' 'xnet' 'argus' 'bbn-rcc' 'chaos' 'pup' 'hmp' 'mux' 'dcn'
 'prm' 'trunk-1' 'xns-idp' 'trunk-2' 'leaf-1' 'leaf-2' 'irtp' 'rdp'
 'iso-tp4' 'netblt' 'mfe-nsp' 'merit-inp' '3pc' 'xtp' 'idpr' 'tp++' 'ddp'
 'idpr-cmtp' 'ipv6' 'il' 'idrp' 'ipv6-frag' 'sdrp' 'ipv6-route' 'gre'
 'rsvp' 'mhrp' 'bna' 'esp' 'i-nlsp' 'narp' 'ipv6-no' 'tlsp' 'skip'
 'ipv6-opts' 'any' 'cftp' 'sat-expak' 'kryptolan' 'rvd' 'ippc' 'sat-mon'
 'ipcv' 'visa' 'cpnx' 'cphb' 'wsn' 'pvp' 'br-sat-mon' 'wb-mon' 'wb-expak'
 'iso-ip' 'secure-vmtp' 'vmtp' 'vines' 'ttp' 'nsfnet-igp' 'dgp' 'tcf'
 'eigrp' 'sprite-rpc' 'larp' 'mtp' 'ax.25' 'ipip' 'micp' 'aes-sp3-d'
 'encap' 'etherip' 'pri-enc' 'gmtp' 'pnni' 'ifmp' 'aris' 'qnx' 'a/n'
 'scps' 'snp' 'ipcomp' 'compaq-peer' 'ipx-n-ip' 'vrrp' 'zero' 'pgm' 'iatp'
 'ddx' 'l2tp' 'srp' 'stp' 'smp' 'uti' 'sm' 'ptp' 'fire' 'crtp' 'isis'
 'crudp' 'sccopmce' 'sps' 'pipe' 'iplt' 'unas' 'fc' 'ib']
----------------------------------------------------------------------------------------------------
Unique values of  state with dtype object have total values 16 -> ['CON' 'INT' 'FIN' 'URH' 'REQ' 'ECO' 'RST' 'CLO' 'TXD' 'URN' 'no' 'ACC'
 'PAR' 'MAS' 'TST' 'ECR']
----------------------------------------------------------------------------------------------------
Unique values of  dur with dtype float64 have total values 587303 -> [3.613300e-02 1.119000e-03 1.209000e-03 ... 1.616038e+00 2.200934e+00
 5.649980e-01]
----------------------------------------------------------------------------------------------------
Unique values of  sbytes with dtype int64 have total values 14155 -> [   528    146    132 ...  86346  35110 269883]
----------------------------------------------------------------------------------------------------
Unique values of  dbytes with dtype int64 have total values 19166 -> [   304    178    164 ...  60216 166054 772406]
----------------------------------------------------------------------------------------------------
Unique values of  sttl with dtype int64 have total values 13 -> [ 31   0 254  62   1  64 255  60  29 252  32  30  63]
----------------------------------------------------------------------------------------------------
Unique values of  dttl with dtype int64 have total values 11 -> [ 29   0 252  60  31  30  62  32 254 253  64]
----------------------------------------------------------------------------------------------------
Unique values of  sloss with dtype int64 have total values 544 -> [   0    2    6    4    3    7    1    5   11   18    8   30   14   50
   24   19   16   26   38   55   47   10    9   21   33  123   41   13
   36   27   56  138  113   12   22   17   29   76   20   89  180   82
 2065   15  420   31   64   51  144   25  269   34   53  150   52  350
  119  140  111   63   45  422   54   42   32  381   40   94  117   23
   28 2405   35   44  375   37  146  403   39   43   46   49   88   80
   57  259 2528   60   62   66  106   67   71  388  132   73   75  128
   78   92   81   83   91 2594   85   86   93   95   97  535   99  100
  102  107  109  809  219  460  167  310   77 2730  202  279   72  712
  135  133  319  142  190  152  116  171  137  141  165  118  186   65
  112  121  198   58  143  281  345   48  289   74  184  130 2679  625
   70  355 3669   87 1812  124   61  126  129  335  139  156  134  347
  797   79  967  272 1876  934   90  278  286   68 2535   69  179  302
  294  120 4707  240 5096 1484 4206  276  194  210  293 1424  193   59
  136  546  367  159  394  205 1335  154 1362 3407  257  122  308  343
  391  329  227   98  365  174  187  153  314  164  297  155  228  169
  189  300  191  163  114  340  352  333  366  303  195  127  346  377
  291  325  101  157  283  148  299  125  110  263  324  301  401  344
  183  277  151  353  339  254  238  131  243  380  537  560  525  425
  332  103   96  237  149  108  231  241  236  266  341  337  287  166
  330  311  200  368  328  177  229  145  296  217  327  253  507  178
  348  188 1841  409  326  168  170  396 2705  622 3476 3436 2070 2986
  478  275 1976  933 2707  358 4694 5319 1241 4210  250  209  304  161
 2820 1627 1350 1360 3386  556  487  389  147 2157  295  407  274 2403
  406 2746  386 2003  449  216  105  586  221  362 2690  199  473  331
  410  284 2706  631 3518 3484 2045   84 2982  438  182  799 1288  691
  268 1236  758 2699 4546 4745 2110 3643  528  192  427 1540 2851 1357
 1346  354  313  349 2019  448  244 1985  207 2011  315  162 2343  830
  548  512  376  230 1877  338  413  285 2682  624 3338 2203 2530  913
  816  905  280 2205  930  566  288 2709  181 3993  451  239 4033  741
  307  211  196 2848 1367  233  357  385  160  444 1906  204 2184 1225
  334 2303 2179  476 2085  464  395  370 2718 1004 2693 3213 2309 2832
  402 1157  273 2698 4439 4803 2014 3838 1220  532  568 2822 1352 1341
 3417 2201  232 1536 1458 1214 1922  850  270  104  322  495  218  999
  408 2688  619 3129 3307  175 2401  808 1111  747  271 2623  932  552
 2468 3624 4158 3607 3951  305  881  399 1347 1364  393  115 1940 1910
  261  911 2101 2225  847  392  213  426  398 2591  390  414 2703  611
  356 3057 2457 2687  770  185  795  336 1030  840  943  502 2719  208
  360 3290 3830 3592  726 2226  364 2840 1358 1372 3164  309]
----------------------------------------------------------------------------------------------------
Unique values of  dloss with dtype int64 have total values 707 -> [   0   10    1    2    3    5   55   56    8    6    4   15   26    7
   14   33  370   13   17   32   18   31   44   16  206  390  583  491
   25  197   22  253    9  174   29   28   39   21  332   27   11  108
   60  411   23  137   30  155 5483   72  230   54   12   71  859   45
  144  116   57  369  177  180   37  237  161  115   77  263   92   35
  199  165   20  170  172  366   75  360  367   53  138   59  346 1750
  182  283  192   48   50 1561  153  120  136   36 1331  412   89  183
  121  178   38  382  579  361  497  365  363  378  569  376  362  112
  406  372  163  109   42  364  358  580  379   24  570   79   34  145
  342   19  106 3545   85 1886  103   41  104   76   51  231  269  215
  357  330  375  352  321  318  383  319  384  267  385  368  233  373
  334  316  268  355  187  329  386  135  200  168  305  198   93  154
  166  229  146  188  221  117  315  262  181  388 1436  195  354  147
  347  152  340  217  299  324  310  356  196  323  184  128   90  278
  359   80  169  190  381  311  224  374  107  273  185  247  377  604
  312  148   67  113  327  245  256   52  343   65  226   40   64  111
  274   87  176  338  131  179  259  266   58  608   66  157  306  130
  317  298  173  189  297  339  328  331   99  308  322  304   83  139
  335  333   63  194   49  133  175  110  326  276   88  282  202  160
  162  124   97  337  193  345  344  313   94   47  125  101  353  164
  167  186   86  301  264  307  156  100  102  451  320  119  904  126
  127  141  289  389  281  452  349  292  118  314  158  290  387  474
  540  392  475  487  143  291  149  351  485  288   82  341  265  272
  191  350   61  150   81  205  140  244  336  380  555  471  691 1013
  284  571  403   74  860  114  517  122  134  258  294  296  213   96
  254  285  242  286  293  295  721   43  613  239  171  208  348  275
  261  207  309  214  325  257   78   69 1676  495  240  271  488  504
   62   70  581  551  557  582  541  417  552  526  446  443  498  478
  519  447  480  482  448  413  287  545  277  496  514  506  502  151
  990 2950 1091  142  536  241  442  575  400  260  204  300  248  441
  542  549  407  159  560  500  105  535   46  641   68   84   98 2193
  280  279  235   91  201  227  228  270  461  123  236  252  553  129
   95  303  211  243  532  468  405  529  492  250  302  513  419  395
  416  559  251  543  556  558  511  566  572  430  371  477  489  431
  434  530  565  554  534  531  548  481  518  493  428  510  396  520
  524  538  209  544  567  561  499  439  507  547  436  533  578  574
  479  398  577  484  132  537  525  216  246  212  210  563  423  415
  512  564  486  562  503  521  476  404  222  462   73  220  255  249
  463  408  422  528  435  573  438  546  432  501  218  238  523  444
  508  449  550  427  576  409  445  458  515  505  203  568  429  459
  465  223  433  472  234  401  410  473  454  420  453  426  225  424
  490  450  456  455  494  393  391  232  414  509  645 5507  775  729
  848  623  765  712 1844  690 1004  610  806 1654 3978 1572  742  717
 2257 5436  689 1467 1072 1291 3864 1558  615  763 1699  696 1010  856
  611 1667  987 2627 1368  732  724 2277  402 5484 1070  797 1390 1315
 2262 2576  707  769  715 1133  686 1008  864  606  997 3338  703  738
  727 2273 5425  694 1312 1303 2198 3039 1035  620  778 1320  397  873
  634  601 1648 1674  921  734  714 2272 4672  814  625 1846 1307 1517
 1831 1601 1848 2234 1316  522  629  767  895  698  399  861  516  609
 1651 1000 3246  805  748 4829  680  820 1799 1151 1318 2454 2633  749
  825  653  692 1005  869  999 3497]
----------------------------------------------------------------------------------------------------
Unique values of  service with dtype object have total values 13 -> ['-' 'dns' 'http' 'smtp' 'ftp-data' 'ftp' 'ssh' 'pop3' 'snmp' 'ssl' 'irc'
 'radius' 'dhcp']
----------------------------------------------------------------------------------------------------
Unique values of  Sload with dtype float64 have total values 1100258 -> [ 87676.08594 521894.5313  436724.5625  ...  12496.51367 198981.25
  24465.67188]
----------------------------------------------------------------------------------------------------
Unique values of  Dload with dtype float64 have total values 1173739 -> [   50480.17188   636282.375     542597.1875  ...   598375.0625
 10915975.        146610.7656 ]
----------------------------------------------------------------------------------------------------
Unique values of  Spkts with dtype int64 have total values 933 -> [    4     2     1    12    14    10     6    26    32     5    20    18
     8    16    28    30    64    66     3    24    42    52    78    80
    40   334    38    22   122   106    62    54    44   110   108   364
   112   456   448   446   442   452   454   460   450    76   680   672
   568   668   572   562   440   444   428   662   556   338   226   228
   222   230   296   234   204   206    48    68   218   372   240   238
   294    50   366    70   358    90   362   114   210   356   224   232
   216   212    92   242    60   244   350   214   340   354   208    34
   286    46   236   310   292    36   130   360    88   220   104    72
   252   352   198   200   308   118   290   282   346   302   300  1632
   202   332   344   328   298   326   348    58   336   324   158   270
    82   184   304   368   170   330    84   342  4132   314   192   846
   188   186   190   320    74   194   180   182   134   102   196   628
   620    56   544   616    86   306   614   622   706   618   116   176
   626   132   154    96   178   316   322   126   496   128   624   764
   436   420   438   426   658   434   630   370   458   100   490   650
  4812    94   462   480   752   468   466   674   820   690   670   564
    49   664   476    98   586   686   682   437   678   546   632   166
   120  5060   138   140   148   782   272   152   156   264   162   464
   168   172   574  5196   488   676   576   376  1074   644   432  1622
   430   318   646   548   652   566   656   922   402   392   404   418
   416  1082   398   160   394   406   422   390   408  5466   410   396
   124   388   470   374   274   268   284   150  1430    37   429    47
   427    99    53   419   578   423   293   451   103   383    33   349
   341   193   241    57    15    41    21   223    17    97   250    51
   258     7    27    65    11   325    13   207     9   177    61   337
   111   311   610    39   583   181    29   266    59   211   386   312
    95   269   409   339   600   319   321    31   173   146   285    35
    69   655   532   227   327   219   165   229   612   101    19   604
    45   590   303   305   359   357   278   276   254   378   260   174
   424   136   231    23    43   205    73   119   185    55   315   329
   201   189    71   309   187   413   307    85   301   606   121   175
    67   333   209   135   730    25   113   225   167   414   265   107
   105   203   255    63   313   115   343   415   221   317   145   584
   169   195   215   347   288   217   384   263   171   197   149   380
  5364  1256   716  7340  3638   382   248   117   385   505   405    93
   449   619   555   401   492   331   542   599   689   367   361   379
   648   536   431   411   425   557   395   407   237   435   345   289
   588   381   640   123   700   560   654  1600   164  1940   666   280
   642   550  3760  1874   299   373   417   393   365   295   608   109
   399   377   595   443   433    91  5179   144   638   412   645   246
  9416   486 10200  2978   441   262   243   199   261   142   400   335
   259  8669   421     0   351   355   592   570   552   660   558   580
  2854   582   681   627   439   623   403   493   585   247   602   273
   520   387   591   547   323  1159   742   511    75   375   526   565
   506   235   391   363   797  5532  2676   594   898  2730  6820   522
   692   684   598   788   249   127   527   631   621   639   515    89
    79   369   271   514    77   447   389   233    87   283   161   694
   457   371   287   133   715   738   634   256   297   397   353   129
   291   524   502   534   213   191   251    81   596   445   605   245
   508   179   643   147   155   151   159   137    83   710   687   478
   573   629   253   593   163   603   711   611   455   589   615   484
   708   465   609   559   663   474   675   467   661   459   840   453
   472   695   482   512   500   257   617   636   579   577   143   581
   613   637   633   575   607   510   141   601   139   281   183   504
   498   516   494   651   521   635   665   545   277   487   653   667
   625   649   688   239   279   153   267   125   597   531   275   530
   538   540   499   518   513   677   525   882   705   157   719   641
   491   659   554   567   744   131   463   501   549   713   561   553
   528   836  1194  1233  1154   941   469   571   523   775   749   587
   541   509   806  1113   704  1642  3684   822   790   798  5416  1250
  6954  6874  4144  5974   970  1624  3960  1872  5422   786  9392 10646
  2494  8424  5646  3262  2706  2726  1192  6778  1118  1068   784  4316
   816  4808  5494   772  4018   900  1174  1178  5386   954   826  5418
  1268  7040  6974  4094  5966   890  1604  2578  1388  2478  1876  1522
  5404  9094  9492  4232  7292  1062   936  3086  5708  2720   818  2698
   714   804   702  1654  4040   924  3974  1634  4026  4694  1664  1096
  1026   754  3758  1630   832  5370  1254   722  6680  4410  5062  1832
  1638  1816  4416  1866  1138  5424  7990   864  8070  1488   762   740
  5702   998  2740   776   976  3818  4370  2462  4608  4360   964  4174
   930   792   912  5442  2014  5392  6430  4624   794  5666  1248   810
  2320  5402  8882  9616  7684  2446  1072  1142  5652  2712  2690  6836
  6776  1422  4404  3074  2922  2436  3844  1704  1006  2004  5382  1246
  6262  6616  4806  2228  1500  5254  1870  1110  4938  7252  8324  7226
  7908  1770  2700   978  2734   698  1458  3882   696   732  3822  1834
  4212  4450  1708   854   760   758   800  5184   952  5412  1228   720
  6118  4920  5376  1544  1596  2066  1686  1892  1012  5444  6584  7660
  7194  1456  4458   734  5686  2722  1044  2750  6332]
----------------------------------------------------------------------------------------------------
Unique values of  Dpkts with dtype int64 have total values 1255 -> [   4    2    0 ... 2002 6994 1114]
----------------------------------------------------------------------------------------------------
Unique values of  swin with dtype int64 have total values 36 -> [  0 255  92 179 145  61  46 134 160 210  38  70  42 167 168 172  87  45
 103 192  14 232   1  31 203 188  76  43 245  52 154  67   5  99 202 156]
----------------------------------------------------------------------------------------------------
Unique values of  dwin with dtype int64 have total values 32 -> [  0 255 253   1 244  70  40 236  91  90 192  37  48 229  43 175  35 224
 108  27 125  46  12 197 209  33 164 137 171  77 160  81]
----------------------------------------------------------------------------------------------------
Unique values of  stcpb with dtype int64 have total values 1429571 -> [         0 1708297952 3897219059 ... 1289728069  162243658 4035116044]
----------------------------------------------------------------------------------------------------
Unique values of  dtcpb with dtype int64 have total values 1429031 -> [         0 1939490744 2466816006 ... 3436097151  163257853  222196311]
----------------------------------------------------------------------------------------------------
Unique values of  smeansz with dtype int64 have total values 1415 -> [ 132   73   66 ... 1440 1368 1485]
----------------------------------------------------------------------------------------------------
Unique values of  dmeansz with dtype int64 have total values 1417 -> [  76   89   82 ... 1391 1049 1389]
----------------------------------------------------------------------------------------------------
Unique values of  trans_depth with dtype int64 have total values 14 -> [  0   1   2   3   4   8 131   9  80 155   5 163 172  39]
----------------------------------------------------------------------------------------------------

In [38]:
train_df['ct_ftp_cmd'] = train_df['ct_ftp_cmd'].astype('str')

In [39]:
train_df['ct_ftp_cmd'].dtype

dtype('O')

In [40]:
train_df['ct_ftp_cmd'].unique()

array(['0', '1', '6', '2', '4', '8', '5', '3', ' '], dtype=object)

In [41]:
train_df['ct_ftp_cmd'] = train_df['ct_ftp_cmd'].replace(' ', '0')

In [42]:
train_df['ct_ftp_cmd'] = train_df['ct_ftp_cmd'].astype('int')

In [43]:
def convert_to_binary(df, column):
    df[column] = (df[column] > 0).astype(int)
    return df

In [44]:
column = 'is_ftp_login'
convert_to_binary(train_df, column)

Name,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,dttl,sloss,dloss,service,Sload,Dload,Spkts,Dpkts,swin,dwin,stcpb,dtcpb,smeansz,dmeansz,trans_depth,res_bdy_len,Sjit,Djit,Stime,Ltime,Sintpkt,Dintpkt,tcprtt,synack,ackdat,is_sm_ips_ports,ct_state_ttl,ct_flw_http_mthd,is_ftp_login,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,29,0,0,-,87676.085940,5.048017e+04,4,4,0,0,0,0,132,76,0,0,9.891010,10.682733,1421927414,1421927414,7.005000,7.564333,0.000000,0.000000,0.000000,0,0,0.0,0,0,2,4,2,3,1,1,2,normal,0
1,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,29,0,0,dns,521894.531300,6.362824e+05,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.017000,0.013000,0.000000,0.000000,0.000000,0,0,0.0,0,0,12,8,1,2,2,1,1,normal,0
2,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,29,0,0,dns,436724.562500,5.425972e+05,2,2,0,0,0,0,66,82,0,0,0.000000,0.000000,1421927414,1421927414,0.043000,0.014000,0.000000,0.000000,0.000000,0,0,0.0,0,0,6,9,1,1,1,1,1,normal,0
3,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,29,0,0,dns,499572.250000,6.090676e+05,2,2,0,0,0,0,73,89,0,0,0.000000,0.000000,1421927414,1421927414,0.005000,0.003000,0.000000,0.000000,0.000000,0,0,0.0,0,0,7,9,1,1,1,1,1,normal,0
4,59.166.0.0,32119,149.171.126.9,111,udp,CON,0.078339,568,312,31,29,0,0,-,43503.234380,2.389614e+04,4,4,0,0,0,0,142,78,0,0,29.682221,34.370340,1421927414,1421927414,21.003000,24.315000,0.000000,0.000000,0.000000,0,0,0.0,0,0,2,4,2,3,1,1,2,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2540035,59.166.0.1,38606,149.171.126.9,80,tcp,CON,0.564998,14106,772406,31,29,2,262,http,198981.250000,1.091598e+07,262,526,255,255,162243658,163257853,54,1468,1,372266,116.321921,69.874077,1424262068,1424262069,2.123130,1.075171,0.000669,0.000530,0.000139,0,0,2.0,0,0,1,1,4,2,2,2,2,normal,0
2540037,59.166.0.1,38606,149.171.126.9,80,tcp,CON,0.564998,14106,772406,31,29,2,262,-,198981.250000,1.091598e+07,262,526,255,255,162243658,163257853,54,1468,1,372266,116.321921,69.874077,1424262068,1424262069,2.123130,1.075171,0.000669,0.000530,0.000139,0,0,2.0,0,0,2,1,4,2,2,2,2,normal,0
2540038,59.166.0.5,33094,149.171.126.7,43433,tcp,FIN,0.087306,320,1828,31,29,1,2,ftp-data,24465.671880,1.466108e+05,6,8,255,255,4035116044,222196311,53,229,0,0,1221.136547,30.096029,1424262068,1424262069,17.394400,12.405143,0.000608,0.000468,0.000140,0,0,0.0,0,0,1,2,3,3,1,1,3,normal,0
2540041,59.166.0.9,35433,149.171.126.0,80,tcp,CON,2.200934,3498,166054,31,29,2,57,http,12496.513670,5.983751e+05,58,116,255,255,1289728069,3436097151,60,1432,1,79745,2868.893137,1951.035944,1424262067,1424262069,38.609700,19.133826,0.000680,0.000541,0.000139,0,0,2.0,0,0,1,1,2,4,2,2,2,normal,0
2540042,175.45.176.0,17293,149.171.126.17,110,tcp,CON,0.942984,574,676,62,252,5,6,pop3,4470.913574,5.259898e+03,12,12,255,255,3026824982,3748412468,48,56,0,0,3903.523582,95.650531,1424262068,1424262069,79.714089,80.827180,0.139446,0.053884,0.085562,0,3,0.0,0,0,1,1,2,4,2,2,2,exploits,1

In [45]:
#Converting in string first to ensure consistency
train_df['sport'] = train_df['sport'].astype('str')
# Handling non-integer values or NaNs
train_df['sport'] = pd.to_numeric(train_df['sport'], errors='coerce').fillna(0).astype(int)
#Converting in string first to ensure consistency
train_df['dsport'] = train_df['dsport'].astype('str')
# Handling non-integer values or NaNs
train_df['dsport'] = pd.to_numeric(train_df['dsport'], errors='coerce').fillna(0).astype(int)
print(train_df['Label'].value_counts())

Label
0    1959771
1      99646
Name: count, dtype: int64

In [46]:
train_df.columns

Index(['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'dur', 'sbytes',
       'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'service', 'Sload', 'Dload',
       'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz',
       'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime',
       'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat',
       'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login',
       'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm',
       'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm', 'attack_cat',
       'Label'],
      dtype='object', name='Name')

In [53]:
columns_to_remove = [
    'srcip', 'dstip', 'sport', 'dsport',
    'proto', 'state', 'service',
    'attack_cat', 'Label'
]

feature_columns = [col for col in train_df.columns if col not in columns_to_remove]

print(feature_columns)

['dur', 'sbytes', 'dbytes', 'sttl', 'dttl', 'sloss', 'dloss', 'Sload', 'Dload', 'Spkts', 'Dpkts', 'swin', 'dwin', 'stcpb', 'dtcpb', 'smeansz', 'dmeansz', 'trans_depth', 'res_bdy_len', 'Sjit', 'Djit', 'Stime', 'Ltime', 'Sintpkt', 'Dintpkt', 'tcprtt', 'synack', 'ackdat', 'is_sm_ips_ports', 'ct_state_ttl', 'ct_flw_http_mthd', 'is_ftp_login', 'ct_ftp_cmd', 'ct_srv_src', 'ct_srv_dst', 'ct_dst_ltm', 'ct_src_ ltm', 'ct_src_dport_ltm', 'ct_dst_sport_ltm', 'ct_dst_src_ltm']

In [48]:
attack_data = train_df[train_df['Label'] == 1]
normal_data = train_df[train_df['Label'] == 0]

In [49]:
normal_data.shape

(1959771, 49)

In [50]:
normal_sampled = normal_data.sample(n=300000, random_state=42)
normal_sampled.shape

(300000, 49)

In [51]:
balanced_df = pd.concat([attack_data, normal_sampled]).sample(frac=1, random_state=42).reset_index(drop=True)

print(balanced_df['Label'].value_counts())

Label
0    300000
1     99646
Name: count, dtype: int64

In [54]:
X_balanced = balanced_df[feature_columns]
y_balanced = balanced_df['Label']

In [55]:
print(X_balanced)

Name         dur  sbytes  dbytes  sttl  dttl  sloss  dloss         Sload  \
0       0.020973    1540    1644    31    29      4      4  5.508034e+05
1       0.000003     200       0   254     0      0      0  2.666667e+08
2       0.177153     858     268   254   252      2      1  3.490768e+04
3       0.000008     114       0   254     0      0      0  5.700000e+07
4       0.000003     114       0   254     0      0      0  1.520000e+08
...          ...     ...     ...   ...   ...    ...    ...           ...
399641  1.637890    5928    8010    31    29     14     17  2.849031e+04
399642  0.392040    2934    3740    31    29     11     15  5.872870e+04
399643  1.007233    1580   10168    31    29      3      5  1.150876e+04
399644  0.000986     130     162    31    29      0      0  5.273833e+05
399645  0.001118     132     164    31    29      0      0  4.722719e+05

Name           Dload  Spkts  Dpkts  swin  dwin       stcpb       dtcpb  \
0       592380.68750     16     18   255   255  2849820575   708380673
1            0.00000      2      0     0     0           0           0
2        10115.54981     10      6   255   255  3745921335  2126087812
3            0.00000      2      0     0     0           0           0
4            0.00000      2      0     0     0           0           0
...              ...    ...    ...   ...   ...         ...         ...
399641   38449.46875     62     58   255   255  1801510399  3947162065
399642   74910.71875     52     54   255   255  3390724105  3395916324
399643   76280.26563     12     18   255   255  1015227472  3165820247
399644  657200.75000      2      2     0     0           0           0
399645  586762.06250      2      2     0     0           0           0

Name    smeansz  dmeansz  trans_depth  res_bdy_len         Sjit         Djit  \
0            96       91            0            0    86.425377     2.329839
1           100        0            0            0     0.000000     0.000000
2            86       45            1            0  1021.927202    62.990641
3            57        0            0            0     0.000000     0.000000
4            57        0            0            0     0.000000     0.000000
...         ...      ...          ...          ...          ...          ...
399641       96      138            0            0  1982.952087  2037.947598
399642       56       69            0            0   979.338032    37.655555
399643      132      565            1         3924  9530.745357  7675.943156
399644       65       81            0            0     0.000000     0.000000
399645       66       82            0            0     0.000000     0.000000

Name         Stime       Ltime    Sintpkt    Dintpkt    tcprtt    synack  \
0       1424262001  1424262001   1.378000   1.207059  0.000560  0.000450
1       1424244370  1424244370   0.003000   0.000000  0.000000  0.000000
2       1424257300  1424257300  19.683667  32.906000  0.064184  0.007817
3       1424244651  1424244651   0.008000   0.000000  0.000000  0.000000
4       1424225252  1424225252   0.003000   0.000000  0.000000  0.000000
...            ...         ...        ...        ...       ...       ...
399641  1424258628  1424258630  27.298167  28.722702  0.000714  0.000577
399642  1421940967  1421940968   7.680529   7.387585  0.000629  0.000493
399643  1424236457  1424236458  91.533548  59.217355  0.000670  0.000531
399644  1424247111  1424247111   0.008000   0.005000  0.000000  0.000000
399645  1421932180  1421932180   0.002000   0.007000  0.000000  0.000000

Name      ackdat  is_sm_ips_ports  ct_state_ttl  ct_flw_http_mthd  \
0       0.000110                0             0               0.0
1       0.000000                0             2               0.0
2       0.056367                0             1               1.0
3       0.000000                0             2               0.0
4       0.000000                0             2               0.0
...          ...              ...           ...               ...
399641  0.000137                0             0               0.0
399642  0.000136                0             0               0.0
399643  0.000139                0             0               1.0
399644  0.000000                0             0               0.0
399645  0.000000                0             0               0.0

Name    is_ftp_login  ct_ftp_cmd  ct_srv_src  ct_srv_dst  ct_dst_ltm  \
0                  0           0           9           7           9
1                  0           0           7           7           1
2                  0           0           2           1           1
3                  0           0          31          31          10
4                  0           0          10          10           8
...              ...         ...         ...         ...         ...
399641             0           0           1           1           2
399642             1           1           1           1           6
399643             0           0           1           2           2
399644             0           0           2           1           2
399645             0           0           4           4           6

Name    ct_src_ ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm
0                 8                 6                 1               7
1                 2                 1                 1               7
2                 1                 1                 1               1
3                10                10                 6              31
4                10                 8                 8              10
...             ...               ...               ...             ...
399641            1                 1                 1               2
399642            2                 1                 1               2
399643            3                 1                 1               1
399644            8                 2                 1               2
399645            6                 2                 1               1

[399646 rows x 40 columns]

In [56]:
print(y_balanced)

0         0
1         1
2         1
3         1
4         1
         ..
399641    0
399642    0
399643    0
399644    0
399645    0
Name: Label, Length: 399646, dtype: int64